body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.heading h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.registrationFormData {
  margin-bottom: 20px;
}

.registrationFormError {
  color: red;
  margin-bottom: 15px;
}

.registrationFormData form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.registrationFormData label {
  display: flex;
  flex-direction: column;
}

.registrationFormData input,
.registrationFormData textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.registrationFormData input:focus,
.registrationFormData textarea:focus {
  border-color: #007BFF;
  outline: none;
}

.registrationFormData textarea {
  resize: none;
}

.btn {
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.login-links {
  margin-top: 15px;
}

.login-links a {
  text-decoration: none;
  color: #007BFF;
  transition: color 0.3s ease;
}

.login-links a:hover {
  color: #0056b3;
}
